* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.numberhead {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 900px;
    margin-bottom: 20px;
}

/* Default Box */
.box {
    width: 40px;
    height: 40px;
    background-color: #a14b00;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 8px;
    transition: 0.3s;
}

/* Active Box (Reached Position) */
.activebox {
    width: 40px;
    height: 40px;
    background-color: #00b341;
    color: #fff;
    font-weight: bold;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 8px;
    transform: scale(1.1);
    transition: 0.3s;
}

.btnBox {
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    width: 150px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    font-weight: bold;
    transition: 0.2s;
}

button:hover {
    background-color: #0056b3;
}

.image {
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

h2 {
    margin-top: 15px;
    font-size: 22px;
    font-weight: bold;
}
